 *{
    box-sizing: border-box;
 
 }


 body {
    margin: 0;
    padding: 0;
 }



div {
    width: 25%;
    border: 1px solid #f50;
    height: 300px;
    float: left;
    background: #080;
}

p {
    margin: 0;
    padding: 0;
    width: 25%;
    background: rgba(0,0,0,0.5);
    height: 300px;
    position: absolute ;
    transition: all 0.5s;
}
.one:hover ~ p 
{
    margin-left: 0;

}
.two:hover ~ p 
{
    margin-left: 25%;
    
}
.three:hover ~ p 
{
    margin-left: 50%;
    
}

.four:hover ~ p 
{
    margin-left: 75%;
    
}








































 
 /*ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

li {
    float: left;
    list-style:none;
    width: 25%;
}
 hr {
    width : 25%;
    height: 5px;
    border: 0;
    background: rgb(238, 105, 39);
    margin-left: 0;
    transition: all 0.5s ease-in-out;

}

li.one:hover ~ hr
{
    margin-left: 0;
}

.two:hover ~ hr
 {
    margin-left: 25%;

}

.three:hover ~ hr
{
    margin-left: 50%;
}

.four:hover ~ hr
{
    margin-left: 75%;
} */